
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-title {
        @apply text-lg sm:text-2xl font-semibold text-center text-black capitalize pb-6;
    }
}

body {
    font-family: "Roboto", sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #f97316;
    background-color: #ff9b49;
    border-radius: 2px;
}

.bg-collections {
    background-image: url('/Coral-E-Commerce/images/collections-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  
